{% extends "base.html" %}

{% block content %}


<div class="list-group mr-0 ml-0" id="list_container">
    <div class="row">
        <div class="col">
            <h1>{% block list_name %}{% endblock %}</h1>
            <p>{% block list_description %}{% endblock %}</p>
        </div>

    </div>


    <div class="row">
        <div class="col">
            <table class="table table-striped table-responsive-sm btn-table">
                <tbody>
                <tr>
                    <th class="p-0" {% block width_col_1 %}{% endblock %}></th>
                    <th class="p-0" {% block width_col_2 %}{% endblock %}></th>
                </tr>


                {% for item in items %}

                <tr>
                    <td class="align-middle">
                        {% block img_src %}{% endblock img_src %}
                    </td>
                    <td class="align-middle">
                        {% block img_desc %}{% endblock img_desc %}
                    </td>
                </tr>

                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>


</div>

{% block information_below_table %}
{% endblock information_below_table %}


{% endblock content %}

