{% extends "base.html" %}

{% block page_title_text %}Benedikt Häuser - Home{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <h1>Benedikt Häuser</h1>
        <p class="justify_text">
            Hi! On this page I give an overview over my business and private life and some
            ways to contact me.</p>
        <p class="justify_text">I am 26 years old and am currently working for Mercedes-Benz as a Data Analyst. I mostly
            work
            in the Azure Cloud with various Azure tools, but my main focus is on Apache Spark on Azure Databricks. I
            like to
            solve all kinds of business problems using Cloud technology as efficiently as possible. I do that by trying
            to
            understand what is possible with Cloud technology and what is needed from a business perspective, which is
            why I
            am often the translator between the business and the tech world.</p>
        <p class="justify_text">Have a look around and feel free to contact me if you have questions!</p>
    </div>
</div>
{% endblock %}