{% extends "base.html" %}

{% block page_title_text %}Benedikt Häuser - Contact{% endblock %}

{% block content %}

<div class="row" id="contact_general_block">
    <div class="col">
        <h1 class="pt-3">Impressum</h1>
        <p>This is a personal website, I do not save any visitor data and do not earn any money with it. All logos and
            company images are property of their respective owners. If you want to
            contact me about this, please go to the Contact page.</p>
    </div>
</div>


{% endblock %}